<p>{{question.question}}

  <fa-icon  *ngIf="!correctly && grading" [icon]="faTimes"></fa-icon>
  <fa-icon  *ngIf="correctly && grading" [icon]="faCheck"></fa-icon>
</p>
<div class="d-flex mc-div"
     [ngClass]="displayTrueAnswer(qs)"
     id="{{question._id}}-true"
     *ngFor="let qs of question.choices">

  <input type="radio" value="{{qs}}"
         class="true-false mt-1 mr-2"
         name="{{question._id}}"
         (click)="selectAnswer($event)"
         [disabled]="grading">
  <p class="mb-2 mr-auto">{{qs}}</p>

  <fa-icon  *ngIf="question.correct === qs && grading" [icon]="faCheck"></fa-icon>
  <fa-icon *ngIf="!correctly && grading && answerSelected==qs" [icon]="faTimes"></fa-icon>
</div>

<h5 class="mt-2">Your answer:</h5>
<p>{{answerSelected}}</p>
<button (click)="grade()"
        [ngClass]="grading ? 'btn-grey': 'btn-success'"
        class="form-control  w-25 mr-auto disabled"
        [disabled]="grading">
  Grade </button>

